<div class="row">
	<div class="small-4 small-centered columns">

	<% @types.each do |type| %>
		<% count = 0 %>
		<% type.places.each do |place| %>
			<% count += 1 %>
		<% end %>
		<h6 class="subheader"><%= link_to "#{type.type_name}  ( #{count} )", type %></h6>
	<% end  %>

	</div>
</div>