<div class="panel">

  	<div id="fb-root"></div>

	<a href="https://twitter.com/yoda_lv" class="twitter-follow-button sh_button" data-show-count="false" data-show-screen-name="true">Follow @yoda_lv</a>
    <a href="https://twitter.com/share" class="twitter-share-button sh_button" data-url="http://www.yoda.lv/" data-text="New project from Latvia. Find your place for education fast" data-via="yoda_lv">Tweet</a>
    <br>

    <div class="fb-follow sh_button" data-href="https://www.facebook.com/yodalv" data-layout="button_count" data-show-faces="false" data-width="450"></div>
	<div class="fb-like sh_button_fix" data-href="https://www.facebook.com/Yodalv" data-send="false" data-layout="button_count" data-width="250" data-show-faces="false"></div>
</div>

<script>
	(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=547819331904913";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));

	!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
</script>

