<% if @place.errors.any? %>
  <div class="row">
    <div class="large-12 small-12 columns">
        <p class="important_text margin_bottom_20">
        <% @place.errors.full_messages.each do |msg| %>
          <%= msg %></br>
        <% end %>
        </p>
    </div>
  </div>
<% end %>