
	<% if flash[:notice] %>
		<div id="flash-notice" class="alert-box success">
		  <%= flash[:notice] %>
		</div>
	<% end  %>
	<% if flash[:error] %>
		<div class="alert-box alert-box">
		  <%= flash[:error] %>
		</div>
	<% end  %>
