<div class="row">
  <div class="large-4 small-6 columns">
      
              <%= render 'shared/search' %>
              <p>&copy; Yoda.lv. 2013. All rights reserved.</p>
  </div>
  <div class="large-4 small-6 columns share_button">
  </div>

  <div id="footer_logo" class="hide-for-small" ><%= image_tag("logo_small.png", width: '250', height: '199') %></div>
</div>

