<div class="row">
  <div class="large-4 small-4 columns">
      
              <%= render 'shared/search' %>
              <p>&copy; Build Yourself. 2013. All rights reserved.</p>
  </div>


  <div class="large-4 small-4 columns">
      <ul class="inline-list right">
        <li><%= link_to "Home", root_path %></li>
        <li>
          <%= link_to "Add new place", :controller => :places, :action => :new %>
        </li>
        <li>
          <%= link_to "Contact with us", :controller => :contacts, :action => :new %>
        </li>
      </ul>
  </div>

  <div class="large-4 small-4 columns"> 
  </div>
</div>

