  <div class="large-12 columns menu">
    <div class="row">


    <div class="section-container active accordion radius" data-section="accordion">
      <section class="section">

        <h5 class="title"><a href="#panel1" id="accordion">Navigation  &raquo; 
          <i class=" right general-enclosed foundicon-remove"></i></a></h5>


        <div class="content active">

          <ul class="breadcrumbs">
            <% Interval.all.collect do |d| %>

              <li><%= link_to d.interval_name, d %></li>

            <% end %>

            <li><a href="#">Home</a></li>
            <li><a href="#">Features</a></li>
            <li class="unavailable"><a href="#">Gene Splicing</a></li>
            <li class="current"><a href="#">Cloning</a></li>
          </ul>


             <div class="large-3 columns">
                <ul class="disc">
                  <a href=""><li>List item with a much longer description or more content.</li></a>
                  <li>List item</li>
                  <li>List item
                    <ul>
                      <li>Nested List Item</li>
                      <li>Nested List Item</li>
                      <li>Nested List Item</li>
                    </ul>
                  </li>
                </ul>
              </div>
              <div class="large-3 columns">
                
                <ul class="disc">
                  <li>List item with a much longer description or more content.</li>
                  <li>List item</li>
                  <li>List item
                    <ul>
                      <li>Nested List Item</li>
                      <li>Nested List Item</li>
                      <li>Nested List Item</li>
                    </ul>
                  </li>
                </ul>
              </div>

              <div class="large-3 columns">
                <ul class="disc">
                  <li>List item with a much longer description or more content.</li>
                  <li>List item</li>
                  <li>List item
                    <ul>
                      <li>Nested List Item</li>
                      <li>Nested List Item</li>
                      <li>Nested List Item</li>
                    </ul>
                  </li>
                </ul>
              </div>

              <div class="large-3 columns">
                <ul class="disc">
                  <li>List item with a much longer description or more content.</li>
                  <li>List item</li>
                  <li>List item
                    <ul>
                      <li>Nested List Item</li>
                      <li>Nested List Item</li>
                      <li>Nested List Item</li>
                    </ul>
                  </li>
                </ul>
              </div>




        </div>
      </section>
    </div>


 
 </div>
</div>