<div class="panel radius right_panel">
<ul class="recent">
	<li class="first"><h5><%= t :recent_added_places  %></h5></li>
  <% @recent_added.each do |place| %>
    <li class="li_second"><%= link_to place.name, place %> 

    	&nbsp&raquo;&nbsp <%= link_to place.type.type_name,controller: :places, action: :index, type: place.type.type_slug %> 
		</li>
  <% end %>
</ul>
</div>