
<ul class="recent">
	<h6><%= t :recent_added_places  %></h6>
  <% Place.recent.each do |place| %>
    <li><%= link_to place.name, place %> 

    	<% place.types.each_with_index do |type, counter| %>&nbsp&raquo;&nbsp  
			<%= link_to type.type_name,controller: :places, action: :index, type: type.type_slug %> 

			<% if counter > 1 %>
				&nbsp&raquo;&nbsp  
			<% end %>
		<% end %></li>
  <% end %>
</ul>