<dl class="sub-nav">
  <dd class="active"><a href="#">With review</a></dd>
  <dd class="yellow active"><a href="#">4 comments</a></dd>
  <dd class="stars"> <i class="general foundicon-star">
  		<i class="general foundicon-star">
  			<i class="general foundicon-star">
  				<i class="general foundicon-star">
  					<i class="general foundicon-star">
  					</i></i></i></i></i>
  	</dd>
</dl>