    <dl class="sub-nav">
      <dd class="active"><a href="#">With review</a></dd>
      <dd class="active"><a href="#">4 comments</a></dd>
      

        <dd class="active"><a href="#"><%= pluralize place.votes, "vote" %></a></dd>
        <% if current_user && current_user.can_vote_for?(place) %>
          <dd>
            <%= link_to "", vote_place_path(place, value: 1), method: "post",
              class: "general foundicon-up-arrow" %>
            <%= link_to "", vote_place_path(place, value: -1), method: "post",
              class: "general foundicon-down-arrow"  %>
          </dd>
        <% end %>

    </dl>