<% provide(:title, t(:subscribe)) %>

<div class="row content" >
  <div class="large-12 columns">
 
    <%= render 'shared/flasher' %>

    <div class="row ">
      <div class="small-10 small-centered large-4 large-centered columns margin_top">
        <iframe src="https://madmimi.com/signups/77477/iframe_embed" scrolling="no" frameborder="0" height="588" width="350"></iframe>
      </div>
    </div>
  
  </div>
  
</div>

