<%= simple_form_for @contact, html: { class: 'custom' } do |f| %>
    <% field_set_tag "Contact with us " do %>


      <div class="row">
        <div class="large-6 columns">
          <%= f.input :email, label: "Your email" %>
        </div>

      </div>


      <div class="row">
        <div class="large-12 columns">
          <%= f.input :body, label: "Your message for us", as: :text %>
        </div>
      </div>

    <%= f.button :submit, class: 'small button'  %>
  <% end %>
<% end  %>