<% if @contacts.blank? %>
    <div class="row">
        <div class="large-12 columns">
            <div class="row">
	           <p> We don't have any contact invoices</p>
            </div>
        </div>
    </div>
<% else %>
	<div class="row contact_show" >
        <div class="large-12 columns">
            <hr>
			<% @contacts.each do |c| %>

				<div class="row ">
            		<div class="large-3 columns">
                		<p><%= c.email %><br>
                        <%= c.created_at.strftime("%d.%m.%Y - %H:%M") %>
                        </p>
            		</div>
            		<div class="large-7 columns">
                		<p><%= c.body %></p>
            		</div>
            		<div class="large-2 columns">
                		<p><%= link_to "destroy", c, :method => :delete, :confirm => "Really?" %></p>
            		</div>
				</div>
                <hr>
			<% end %>
		</div>
	</div>
<% end %>
