
<div class="row content">
    <div class="large-12 columns">
        <div class="row">

        	<%= render 'shared/flasher' %>

        	<div id="countdown" class="countdownHolder">
			</div>


			<div class="small-4 small-centered columns counter-note">
				<p id="note"></p>
			</div>


        </div>
    </div>
</div>



