<div class="row content">
    <div class="large-12 columns">
        <div class="row">
            <div class="large-10 columns">
                You are at home !
            </div>
        </div>
    </div>
</div>