<% provide(:title, "Edit post" )%>

<div class="row content">
  <div class="small-3 small-centered columns">
    <div id="featured">
      <%= image_tag("logo.png", width: '250px', height: '250px') %>
    </div>
  </div>
</div>

<div class="row content" >
  <div class="large-12 columns">
  <%= render 'shared/flasher' %>
  
  <div class="row">
      <div class="small-6 small-centered columns">
          <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
