<% provide(:title, "New post" )%>

<div class="row content" >
  <div class="large-12 columns">
  <%= render 'shared/flasher' %>
  
  <div class="row">
      <div class="small-5 large-3 columns" >
        <%= render 'shared/navigation_panel'%>
        <%= render 'shared/login' %>
      </div>

      <div class="large-9 small-7 columns">
          <%= render 'form' %>
      </div>
    </div>
  </div>
</div>