/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require_tree .
 */

html, body { height: 100%; margin: 0; }

#container {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
}

#footer{
  height: 60px;
  background-image:url('grey.png')


}

#footer p, #footer li{
	font-size: 12px;
}

.nav_bar_border_bottom{
	border-bottom: 2px solid #91cbe6;
	margin-bottom: 30px;
}

fieldset{
	background-color: #fff;
}

#logo_row{
	margin-bottom: 10px;
}

.alert_header{
	color: #fff;
}

.lang_image{
	padding-left: 8px;
	margin-bottom: -2px;
	display: inline;
}

.hide{
	display: none;
}