/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require_tree .
 *= require jquery.facebox
 */

@import 'foundation-icons';


html, body { height: 100%; margin: 0; padding: 0; }

#wrap {
  min-height: 100%;
}
#main {
  overflow:auto;
  padding-bottom: 150px;
}
#footer {
  position: relative;
  margin-top: -150px;
  height: 150px;
  clear:both;} 

body:before {
  content:"";
  height:100%;
  float:left;
  width:0;
  margin-top:-32767px;
}




/* Foundation image fix */
.gmaps4rails_map img, .popup img, .map_container img{max-width: none;} 




.top-bar-hr{
  margin-top: -60px;
  margin-bottom: 0;
  padding-bottom: 0;
}

#footer{
  border-top: 1px solid #d0e9f4 !important;
  padding-top: 20px;
  background-color: #BCC8CC;
  color: white;
}



#footer p, #footer li, #footer i{
	font-size: 12px;
}



fieldset{
	background-color: #fff;
}



.alert_header{
	color: #fff;
}

.lang_image{
	padding-left: 8px;
	margin-bottom: -2px;
	display: inline;
}

.hide{
	display: none;
}

.top-bar .right li a:hover{
  background-color: #fff!important;
}

h5 #title a:active {
  color: #464A4C!important;
}

.breadcrumbs li{
  text-align: right!important;
}


#footer img{
  float:right;
  margin-top: -139px;
}

.pagination-centered{
  margin: 50px 0 50px 0;
}
.yellow { border: 1px solid black; margin-top: 8px; background: yellow; padding: 5px; }


.content{
  padding-top: 30px;
  padding-bottom: 40px;
}

.menu{
  font-size: 12px;
  margin-bottom: 30px;
}

.menu li {
  list-style: none;
}


#featured img{
  margin-top: 40px;
}

.section .breadcrumbs{
  background-color: #fef8ff;
  padding-top:6px!important;
}