// Place all the styles related to the Contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.contact_show{
	background-color: white;
}

.centered{
	height: 30px;
	 vertical-align: middle;
            text-align: center;
            font-size: 28px;
}

.centered a{
	color: #a6d5eb;
}

.centered a:hover{
	color: #dd677c;
}