// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.content h3 {
	margin: 0 0 20px 0;
	padding: 0;
	font-size: 22px;
	line-height: 28px;
	font-weight: normal;
	color: #3CB5B5;
}


.show_posts h2 {
	font-size: 14px;
	line-height: 20px;
	font-weight: normal;
	color: #999;
}


.post_message p{
	font-size: 14px;
}







/************ **************/

.blog_navigation_block{
	margin-top: 5px;
	width: 250px;
	margin-left:20px;
	float: left;
}

.blog_posts_space {
	min-height: 100%;
}

.blog_posts_space .panel{
	width: 280px;
	margin: 5px 10px 20px 20px;
}
