<% unless @user_posts.blank? %>
	<div class="panel radius right_panel">
	    <ul class="recent">
	    	<li class="first"><h5><span class="general foundicon-page"> </span> <%= t :post_list   %></h5></li>
	    </ul>
	    <% @user_posts.each do |post| %>
	      <%= link_to post, class: "blog_post_title" do %>
		      <i><%= post.created_at.strftime("%d.%m.%Y  %H:%M") %></i>
		      <p><%= post.title %></p>
	      <% end  %>
	    <% end %>
	   </ul>
	</div>
<% end %>
