<span class="crumbs">
<ul class="right" id="crumbs">
	<% unless params[:action] == "show" %>
		<li>
			<%= link_to @place.city.city_name, 
		           		{ controller: :places, action: :index, city: @place.city.city_slug} %>
		</li>
	<% end %>
	

       <li><%= link_to @place.category.category_name, 
       		{ controller: :places, action: :index, category: @place.category.category_slug} %></li>

	
	

		<li><%= link_to @place.type.type_name, 
			{ controller: :places, action: :index, type: @place.type.type_slug} %></li>

	<li>
		<a href="#" class="last"><%= "#{ t(:from) } #{ @place.age_min } #{ t(:to) } #{ @place.age_max } #{ t(:age) } " %> &nbsp&nbsp </a>
	</li>
</ul>
</span>