<% unless @place.feeds.blank? %>
	<div class="feeds">
		    <% @place.feeds.each do |feed| %>
		    	<i>
		    		<%= feed.created_at.strftime("%d.%m.%Y  %H:%M") %>
					<% if can? :destroy, feed %>
		               <%= link_to "", feed, method: :delete, data: { confirm: t(:sure_question) }, class: "general foundicon-remove" %>
		            <% end %>
		    	</i>
		        <div class="feed"><%= simple_format(feed.message) %></div>
		    <% end %>
		    <br>
	</div>
<% end %>