<% provide(:title, @place.name) %>
<script type="text/javascript">
  $(document).ready(function() {
  Gmaps.map.callback = function() {
  console.log(Gmaps.map.markers)
  }
  });
</script>
 
 
    <div class="row">
      <div class="large-12 columns">
        <%= render 'shared/gmap' %>
        <div class="row">

          <!-- Form -->

          <div class="large-8 columns">
              <%= render 'edit_form'  %>
          </div>

          <!-- End Form -->
     

     
          <!-- Right column -->

          <div class="large-4 columns">
    				<h4>How To:</h4>
    	      <ul class="disc margin-left panel">
    					  <p class="how_to">Jau sen ir noskaidrots fakts, ka aplūkojot maketa dizainu un kompozīciju teksta saturs novērš uzmanību. Lorem Ipsum izmanto tāpēc, kas tas nodrošina vairāk vai mazāk vienmērīgu burtu izvietojumu un padara to līdzīgu lasāmam tekstam angļu valodā, kas neizdodas, ja vienu un to pašu tekstu 'Šeit ir teksts, šeit ir teksts' atkārto.</p>
    				</ul>
                
            <%= render 'shared/recent_added' %>

    			</div>

          <!-- End Right column -->

        </div>
      </div>
    </div>
 
    <!-- End Content -->