<% provide(:title, @place.name) %>

<%= render 'shared/gmap' %>

<div class="row">
  <div class="large-12 columns">
    <%= render 'shared/filter' %>
    <div class="row content">

      <div class="small-12 large-9 columns">
          <%= render 'edit_form'  %>
      </div>

      <div class="large-3 columns hide-for-small">
        <%= render 'shared/login' %>
			</div>
      
    </div>
  </div>
</div>