<% provide(:title, 'Recent added') %>

    <div class="row">
        <div class="large-12 columns">


           <%= render 'shared/gmap' %>


    <div class="row content-area">
      <div class="large-8 columns">
        <%= render 'shared/places_roll'  %>
      </div>

      <div class="large-4 columns">
        <%= render 'shared/right_column' %>
      </div>
    </div>

  </div>
</div>