<% provide(:title, @place.name) %>

<%= render 'shared/gmap' %>

<div class="row content">
  <div class="small-8 small-centered columns">
      <%= render 'shared/flasher' %>
      <%= render 'shared/admin/admin_panel' %>
      <%= render 'approve_form'  %>
  </div>
</div>