<% provide(:title, @place.name) %>

<%= render 'shared/gmap' %>

<div class="row content">
  <div class="large-12 columns">
    <%= render 'shared/admin/admin_panel' %>
    <%= render 'approve_form'  %>
  </div>
</div>