<% provide(:title, 'Add new place') %>

<div class="row content_bottom_margin" >
  <div class="large-12 columns">

    <div class="row">
      <div class="small-3 small-centered columns">
        <div id="featured">
          <%= image_tag("logo.png", width: '250px', height: '250px') %>
        </div>
      </div>
    </div>
    
<%= render 'shared/flasher' %>
 
    <div class="row content ">
          <div class="small-8 small-centered columns">
              <%= render 'translation_form'  %>
          </div>
        </div>
    </div>
  </div>
</div>

