<div class="row content">
  <div class="small-8 small-centered columns">
      <%= render 'shared/flasher' %>
      <%= render 'shared/admin/admin_panel' %>
      <%= render 'places_roll_to_translate'  %>
  </div>
</div>